@page "/AdvancedCoding/{PageParam1:int}"

@if (PageParam1 == 2)
{
}
else
{
    <Header/>
}

<h3>AdvancedCoding</h3>

@OutputText
<div>
    @if (PageParam1 == 2)
    {
    }
    else
    {    
        <div>
         <a href="/Tilmeld/@TilmeldType" @onclick="FromAdvanced">Tilmeld</a>
        </div>
    }
</div>

@code {
    [Parameter] public int PageParam1 { get; set; }
    public string? TilmeldType { get; set; }

    public string? OutputText { get; set; }

    protected override void OnParametersSet()
    {
        if (PageParam1 == 2)
        {
            OutputText = "Kort tekst om Advanced coding";
        }
        else
        {
            OutputText = "Advanced coding is a way of using advanced features like arrays, classes, objects, and structures to write your own unique program. This type of coding requires a lot of practice and knowledge before you are able to make something useful.";
        }

        base.OnParametersSet();
    }
        private void FromAdvanced()
    {
        TilmeldType = "Advanceret";

    }
}
